aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
attrs
beautifulsoup4
blinker
cachetools
certifi
chardet
charset-normalizer
click
colorlog
cssselect
cssutils
dataclasses-json
distro
einops
et_xmlfile
filelock
Flask
flask-cors
Flask-SQLAlchemy
frozenlist
fsspec
ftfy
GPUtil
greenlet
h11
hf-xet
httpcore
httpx
httpx-sse
huggingface-hub
idna
imagesize
itsdangerous
Jinja2
jiter
joblib
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith
lxml
MarkupSafe
marshmallow
more-itertools
multidict
mypy_extensions
numpy
openai
opencv-contrib-python
openpyxl
orjson
packaging
paddleocr
paddlex
pandas
pillow
premailer
prettytable
propcache
py-cpuinfo
pyclipper
pydantic
pydantic-settings
pydantic_core
PyMuPDF
PyPDF2
pypdfium2
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
requests-toolbelt
ruamel.yaml
ruamel.yaml.clib
scikit-learn
scipy
shapely
six
sniffio
soupsieve
SQLAlchemy
tenacity
threadpoolctl
tiktoken
tokenizers
tqdm
typing-inspect
typing-inspection
typing_extensions
tzdata
ujson
urllib3
wcwidth
Werkzeug
yarl
zstandard